## Generated Executables
*.exe
## ignore Build
ba_gaida/src/cmake-build-debug
ba_gaida/src/build
ba_gaida/src/build_debug
ba_gaida/src/build_release

ba_gaida/src/\.idea/

doku/cgBA_Latex/abschlussarbeit_18-08-2019_uebersicht.pdf

doku/cgBA_Latex/main.aux

doku/cgBA_Latex/main.bbl

doku/cgBA_Latex/main.blg

doku/cgBA_Latex/main.log

doku/cgBA_Latex/main.out

doku/cgBA_Latex/main.pdf

doku/cgBA_Latex/main.synctex.gz

doku/cgBA_Latex/main.tex

doku/cgBA_Latex/main.toc
